.sticky-top{
  top:0;
  background-color: #ebfdf3;
  z-index: 1020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  position: sticky;
  border: 1px solid rgb(187, 233, 192);
  height:70px;
  padding-top: 5px;
}
nav{
  margin: 10px 20px 0 20px;
  padding: 7px 0 7px 0;
  font-size: 25px;
}
h1{
  font-family:'Segoe UI',  Tahoma, Geneva, Verdana, sans-serif;
  color: #ba91d8;
  padding: 7px 0 7px 0;
  margin: 0px 12px 0 20px;
}
body{
  background-color: rgb(216, 220, 219);
}
h2{
  margin-left: 350px;
  color: rgb(103, 103, 215);
  font-weight: 30px;
  font-size: 40px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}/* heading alignment, size, type and bold*/
p{
  margin-top: 50px;
}
/*just added margin*/
.button{
    background-color:white;
    border-color: rgb(41, 118, 211);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    color:rgb(41, 118, 211);
    border-radius: 2px;
    transition: opacity 0.15s, 
    color 0.15;
    box-shadow: 5px 5px 10px ;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    margin-top: 5px;
}/*Made button interesctive, added shadow, colors, cursor*/
.button:hover {
  background-color: rgb(41, 118, 211);
  color:white;
}/* added hover effect*/
.button:active {
    background-color: rgb(120, 216, 150);
    color:white;
  }/* when click the button it will change the color*/

  #firstname, #lastname{
    display: inline-block;
}/*to put firstname, lastname in a same line*/
#email, #subject{
  display: inline-block;
}
#firstname{
  margin-right:5px ;
}
#email{
  margin-right: 25px;
}
.container{
  display: grid;
  grid-template-columns: 400px 1fr;
  padding: 10px 16px 10px 16px;
  margin: 2px 0 10px 0;
} /*grid to manage the style of the content*/

.info{
  margin-right:20px;
  margin-left: 10px;
  vertical-align:top;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* info class and form class next to each other using grid*/
.forms{
  margin-left:10px;
}
footer{
  margin-top: 7%;
  position: relative;
  background-color: rgb(120, 118, 131);
  display: block;
  text-align: center;
}
.contact{
  width:34px;
  height:34px;
  padding-bottom: 10px;
}/*footer img size and alignment*/
   
@media(max-width:1200px){
  .sticky-top{
   display: flex;
   flex-direction: row;
   width:100%
  }
}
@media(max-width:800px){
   .sticky-top{
       display: flex;
       height:fit-content ;
   }  .container{
    display: grid;
    grid-template-columns: auto auto;
   }
   #firstname,#lastname, #email, #subject{
    display: block;
   }
   h2{
    margin: 0;
   }
}
@media(max-width:700px){
   .sticky-top{
       display: flex;
       height:fit-content ;
   }
   .container{
    display: grid;
    grid-template-columns: auto;
   }
   #firstname,#lastname, #email, #subject{
    display: block;
    line-height: normal;
   }
   h2{
    margin: 0;
   }
}