.sticky-top{
    top:0;
    background-color: #ebfdf3;
    z-index: 1020;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: sticky;
    border: 1px solid red;
    }
    nav{
    margin: 10px 20px 0 20px;
    padding: 7px 0 7px 0;
    text-align: end;
    }
    h1{
      font-family:'Segoe UI',  Tahoma, Geneva, Verdana, sans-serif;
      color: #ba91d8;
      padding: 7px 0 7px 0;
      margin: 0px 12px 0 20px;
    }
    h2{
        text-align: center;
        color: rgb(220, 134, 29);
        text-shadow: 7px 7px 7px rgb(201, 209, 178) ;
    }
    .project1{
        display: flex;
        justify-content: center;
        align-items: top;
    }
    .img1{
        width: 30%;
        justify-items: flex-start;
        margin-right: 20px;
    }
    .project2{
        display: flex;
        justify-content: center;
        align-items: top;
    }
    .img2{
        width: 30%;
        margin-left: 20px;
        justify-items: flex-end;
    }
    .project3{
        display: flex;
        justify-content: center;
        align-items: top;
    }
    .img3{
        width: 30%;
        justify-items: flex-start;
        margin-right: 20px;
    }
    footer{
        margin-top: 7%;
        position: relative;
        background-color: rgb(120, 118, 131);
        display: block;
        text-align: center;
      }
      
      .contact{
          width:34px;
          height:34px;
          padding-bottom: 10px;
      }/*footer img size and alignment*/
      
    