.sticky-top{
    top:0;
    background-color: #ebfdf3;
    z-index: 1020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    position: sticky;
    border: 1px solid rgb(187, 233, 192);
    height:70px;
    padding-top: 5px;
}

nav{
    margin: 10px 20px 0 20px;
    padding: 7px 0 7px 0;
    font-size: 25px;
}

h1{
      font-family:'Segoe UI',  Tahoma, Geneva, Verdana, sans-serif;
      color: #ba91d8;
      padding: 7px 0 7px 0;
      margin: 0px 12px 0 20px;
}
body{
    background-color: rgb(216, 220, 219);
}
/* applies to all files index, about and portfolio*/
main{
    padding: 50px ;
    align-content: center;
}
/*index html has main tag and by giving it to padding to it created the distance from nav bar to p1 and image
and padding bottom gives distance from main to footer*/

.pic{
    width:300px;
    height: 300px;
    margin: 40px 15px 0 15px;
    border-radius: 180px 100px 180px 100px;
}
/* for pic class, added width, height and margin top (to add some space between header and pic*/
.intro{
    font-weight: 300;
    font-style: oblique;
    font-size:40px;
    color:rgb(77, 32, 32) ;
    display: flex;
    justify-content:space-evenly;
    gap: 15px;
}
p1{
    line-height: 3rem;
}
/* for intro class, added different font style, weight, size and color*/
.quote{
    font-size:50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgba(49, 127, 27, 0.888);
    font-weight: 700;
    font-style: italic;
    padding-top: 100px;
    margin-top: 100px;
}
/* for quote class, added different font family, style, weight, size and color and margin to create some gap between p1 and p2*/
/*added class to adjust height and width of footer images*/
/*added footer in a different way*/
footer{
    margin-top: 7%;
    position: relative;
    background-color: rgb(120, 118, 131);
    display: block;
    text-align: center;
  }
  .contact{
      width:34px;
      height:34px;
      padding-bottom: 10px;
  }
  /*footer img size and alignment*/
@media(max-width:1200px){
    .sticky-top{
    display: flex;
    }}
@media(max-width:800px){
    .intro{
       flex-direction: column;
    }
    .sticky-top{
        display: flex;
        height:fit-content ;
    }
}
