body {
    background-image: linear-gradient(to right top,
     #ab88b6, #8c8cb3, #617fc5);
}
/* applies to all files index, about and portfolio*/
nav{
    background-color: #75b894;
    text-align: left;
    border-radius: 12px;
    padding-left: 12px;
    padding-top: 10px;
    height: 70px;
}
/* applies to all files index, about and portfolio*/
h1{
    font-family:'Segoe UI',  Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom:12px;
    color: #9e1717;
}
/* applies to all files index, about and portfolio*/
main{
    padding-top: 10px;
    padding-bottom:120px;
}
/*index html has main tag and by giving it to padding to it created the distance from nav bar to p1 and image
and padding bottom gives distance from main to footer*/
h2{
    color: #0b5959;
}
h3{
    color:#892f05;
}
/*all of the files have h2 with same color and it maintains the consistancy*/
.pic{
    width:300px;
    height: 300px;
    margin-top: 50px;
}
/* for pic class, added width, height and margin top (to add some space between header and pic*/
.intro{
    font-weight: 300;
    font-style: oblique;
    font-size:30px;
    color:rgb(77, 32, 32) ;
}
/* for intro class, added different font style, weight, size and color*/
.quote{
    font-size:50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgba(49, 127, 27, 0.888);
    font-weight: 700;
    font-style: italic;
    margin-top: 200px;
}
/* for quote class, added different font family, style, weight, size and color and margin to create some gap between p1 and p2*/
img{
    width: 250px;
    height: 150px;
    float: right;
    clear: both;
    padding-top: 0;
    padding-bottom:0px;
    padding-right: 10px;
    margin-bottom:0px;
}
/**/
section{
    padding-bottom: 10px;
}
/*in portfolio page, between two section tags space added using padding bottom */
div{
    padding-bottom: 10px;
}
/*in about page, between two div tags space added using padding bottom */

.contact{
    height: 30px;
    width: 30px;
    padding-top: 5px;
}
/*added class to adjust height and width of footer images
footer{
    position: relative;
    margin-top: 20px;
    width:100%;
    height: 50px;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #141953;
    background-color: rgb(3, 37, 26);
    }
/*all of the files have footer with same color,height, width, margin top, border style and this maintains the consistancy*/

/*contact page*/
.contactpage{
    display: flexbox;

}
.button{
    background-color: #aee6e6;
}
/*added footer in a different way*/
.followUs{
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 20px;
    width:100%;
    height: 40px;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #f84c0d;
    background-color: rgb(8, 80, 57);
}
